<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="snake-head"> 
				<hr>
				<h1> SNAKEBURGER </h1>
				<h3>Welcome to the world premier of our famous snake burgers.</h3>
				<hr>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="jumbotron col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<p>Made from the freshest, organic snake-meat money can buy. We only source natural, GMO-free, anti-antibiotic, grass-fed snakes for our premium patties. Because you deserve snakes that deserve the best.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 jumbotron">
			
			<div class="col-sm-5 col-md-7 ">
				<p>Here is a desciption of the succulent snake burger pictured. Yum!</p>
			</div>
			<div class="col-sm-7 col-md-5 thumbnail">
				<%= image_tag('snake-burger.jpg') %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="jumbotron col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<p>Each of our premium dishes is crafted lovingly by our chefs who spent, at minimum, three years in snake school. They are literally snake-chef scientists, and they pour their minds, bodies, and souls into each dish they create.</p>
		</div>
	</div>
	<div class="jumbotron">
		<div class="col-xs-3">
			<%= link_to "Meet the Team", about_path %>
		</div>
		<div class="col-xs-3">
			<%= link_to "Menu (under construction)", root_path %>

		</div>
		<div class="col-xs-3">
			<%= link_to " Careers (under construction)", root_path %>

		</div>
		<div class="col-xs-3">
			<%= link_to " Anything else(under construction)", root_path %>

		</div>
	</div>
</div>

